<% layout("layout/boilerplate") %>

<div class="single-post mb-3">
    <form action="/post/<%= post._id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Update Title</label>
            <input name="title" id="title" class="form-control" value="<%= post.title %>">
        </div>

        <div class="mb-3">
            <label for="subtitle" class="form-label">Update Subtitle</label>
            <input name="subtitle" id="subtitle" class="form-control" value="<%= post.subtitle %>">
        </div>

        <div class="mb-3">
            <div class="form-lable">Original Post Image</div>
            <img id="edit-image" src="<%= post.image.url %>" alt="<%= post.image.filename %>" >
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Upload New Image</label>
            <input class="form-control" name="image" type="file" placeholder="enter image url">
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Update Story</label>
            <textarea rows="15" name="content" id="content" class="form-control"><%= post.content %></textarea>
        </div>

        <div class="mb-3 offset-5">
            <button class="btn btn-success">Publish Changes</button>
        </div>
        
    </form>
</div>