<% layout("layout/boilerplate") %>

<div class="container-center">
    <div id="container-main">
        <div class="shorthand">
        <ul class="nav nav-underline offset-2 mt-5">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">For you</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Following</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Featured</a>
            </li>
        </ul>
    <div class="line"></div>
        </div>

    <% for (let post of allPosts) { %>
        <div class="data">
            <a href="/post/<%= post._id %>">
                <div class="card">
                    <div class="post-top">
                        <div class="inner-post-top">
                            <h4><b><%= post.title %></b></h4>
                            <p><%= post.subtitle%></p>
                        </div>
                            <% if( post.imageUrl ) { %>
                                <img class="images" src="<%= post.imageUrl %>">
                            <% } %>   
                    </div>
                <div class="post-info">
                    <p><%= post.publishedAt.toLocaleDateString('en-GB', {day: 'numeric', month: 'long', year: 'numeric'}) %> </p>
                    <p><i class="fa-solid fa-hands-clapping"></i> <%= post.claps %></p>
                    <p><i class="fa-solid fa-comment"></i> <%= post.commentsCount %></p>
                </div>
                </div>
            </a>
            <div class="line"></div>
        </div>
    <% } %>


    </div>
</div>


